.field-name-field-price { font-family: 'Cinzel'; font-style: normal; font-weight: 700; }
.cinzel, .menu_label_title, .our_history { font-family: 'Cinzel'; font-style: normal; font-weight: normal; }
.gold_title { font-family: 'Herr Von Muellerhoff'; font-style: normal; font-weight: normal; }
.montserrat, .ultimate { font-family: 'Montserrat'; font-style: normal; font-weight: normal; }
